@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden !important;
  background: rgba(0, 0, 0, 0.921);
}

/* .header {
  background: transparent !important;
} */

/* CSS for custom scrollbar */
::-webkit-scrollbar {
  width: 7px; /* Width of the scrollbar */
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #323232; /* Color of the scrollbar track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff000d; /* Color of the scrollbar handle */
  border-radius: 5px; /* Border radius of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darkred; /* Color of the scrollbar handle on hover */
}
/* 
.secondarycontainer {
  background: rgba(0, 0, 0, 0.921) !important;
} */
